<% if local_assigns.fetch :last, false %>
  <a href="/tracks/fetch_new_tracks" class="btn btn-primary">Fetch New Tracks</a>
<% end %>
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <%= page_link_item 'Previous', @page_number, @last_page %>
    <%= page_link_item 1, @page_number, @last_page %>
    <% unless @page_number < 7 %>
      <%= page_link_item '...', @page_number, @last_page %>
    <% end %>
    <% @page_range.each do |page| %>
      <%= page_link_item page, @page_number, @last_page %>
    <% end %>
    <% unless @page_number > @last_page - 6 %>
      <%= page_link_item '...', @page_number, @last_page %>
    <% end %>
    <%= page_link_item @last_page, @page_number, @last_page %>
    <%= page_link_item 'Next', @page_number, @last_page %>
  </ul>
</nav>
