<div class="container">
  <h1>Songs played by <%= ENV['USERNAME'] %></h1>
</div>
<table class="table">
  <tr>
    <% @action.each do |act| %>
      <th scope="col"><%= act.capitalize %></th>
    <% end %>
    <th>Count</th>
  </tr>
  <% @tracks.each do |values, count| %>
    <tr>
      <% if values.is_a? Array %>
        <% values.each do |value| %>
          <td><%= value %></td>
        <% end %>
      <% else %>
        <td><%= values %></td>
      <% end %>
      <td><%= count %></td>
    </tr>
  <% end %>
</table>
