<div class="container">
  <h1>Songs played by <%= ENV['USERNAME'] %></h1>
</div>
<%= render 'pagination' %>
<div class="row">
  <table class="table table-striped">
    <tr>
      <% @action.each do |act| %>
        <th scope="col"><%= act.capitalize %></th>
      <% end %>
      <th>Count</th>
    </tr>
    <% @tracks.each do |values, count| %>
      <tr>
        <% if values.is_a? Array %>
          <% values.zip(@action).each do |value, action| %>
            <td><%= attribute_count_link value, action %></td>
          <% end %>
        <% else %>
          <td><%= attribute_count_link values, @action.first %></td>
        <% end %>
        <td><%= count %></td>
      </tr>
    <% end %>
  </table>
</div>
<%= render 'pagination', last: true %>
