<div class="container">
  <h1>Songs played by <%= ENV['USERNAME'] %></h1>
</div>
<div class="jumboton">
  View tracks sorted<br/>
  <% (1..@actions.size).each do |size| %>
    <div class="row">
      <div class="col">
        by <%= pluralize size, 'attribute' %>:
      </div>
      <% @actions.combination(size).each do |attrs| %>
        <div class="col">
          <%= link_to "By #{attrs.join ', '}", "/tracks/by_#{attrs.join '_and_'}" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= render 'pagination' %>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Listened At</th>
  </tr>
  <% @tracks.each do |track| %>
    <tr>
      <td><%= track.name %></td>
      <td><%= track.artist %></td>
      <td><%= track.album %></td>
      <td><%= track.listened_at %></td>
    </tr>
  <% end %>
</table>
<%= render 'pagination' %>
