<div class="container">
  <h1>Songs played by <%= link_to @username, "https://www.last.fm/user/#@username" %></h1>
</div>
<%= render 'pagination' %>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Listened At</th>
  </tr>
  <% @tracks.each do |track| %>
    <tr>
      <th scope="row"><%= track.name %></th>
      <td><%= track.artist %></td>
      <td><%= track.album %></td>
      <td><%= track.listened_at %></td>
    </tr>
  <% end %>
</table>
<%= render 'pagination', last: true %>
