<div class="jumbotron">
  <h1 class="float-left"><%= @method.titleize %>: <%= @title %></h1>
  <h1 class="float-right">Count: <%= @count %></h1>
</div>
<div class="container">
  <% @attributes_minus_method.each do |attr| %>
    <h3><%= attr.to_s.titleize %></h3>
    <table class="table">
      <tr>
        <th scope="col">Count</th>
        <th scope="col">Value</th>
      </tr>
      <% instance_variable_get(:"@#{attr}").each do |value, count| %>
        <tr>
          <td><%= count %></td>
          <td><%= link_to value, "/tracks/#{value}/#{attr}" %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
