<meta http-equiv="Refresh" content="5">
<script>
    setTimeout(scrollToBottom, 1000);

    function scrollToBottom() {
        window.scrollTo(0, document.body.scrollHeight);
    }
</script>
<h3>Job <code><%= @id %></code> Logs</h3>
<small>Status: <code><%= @job.completed? ? 'Completed' : 'Processing' %></code></small>

<table class="table">
  <tr>
    <th scope="col">Recorded At</th>
    <th scope="col">Severity</th>
    <th scope="col">Message</th>
  </tr>
  <% @logs.each do |log| %>
    <tr>
      <td><%= log.created_at %></td>
      <td><code><%= log.severity.upcase %></code></td>
      <td><%= log.message %></td>
    </tr>
  <% end %>
</table>
<a href="/">Go Back Home</a>
