<% unless @job&.completed? %>
  <meta http-equiv="Refresh" content="5">
  <script>
      setTimeout(scrollToBottom, 1000);

      function scrollToBottom() {
          window.scrollTo(0, document.body.scrollHeight);
      }
  </script>
<% end %>
<h3>Job <code><%= @id %></code> <%= @display_level&.titleize %> Logs</h3>
<small>Status: <code><%= @job&.completed? ? 'Completed' : 'Processing' %></code></small>

<table class="table">
  <tr>
    <th scope="col">Status</th>
    <th scope="col">Count</th>
  </tr>
  <% if @display_level.nil? %>
    <tr>
      <td><a href="?display=info"><code>Info</code></a></td>
      <td><%= @logs.info.count rescue 0 %></td>
    </tr>
    <%= log_table_row 'warn' do %>
      <td><a href="?display=warn"><code>Warn</code></a></td>
      <td><%= @logs.warn.count rescue 0 %></td>
    <% end %>
    <%= log_table_row 'error' do %>
      <td><a href="?display=error"><code>Error</code></a></td>
      <td><%= @logs.error.count rescue 0 %></td>
    <% end %>
  <% end %>
  <%= log_table_row @display_level do %>
    <th scope="col" class=""><%= @display_level.nil? ? 'Total' : @display_level.titleize %></th>
    <th scope="col"><%= @logs.count %></th>
  <% end %>
</table>

<table class="table table-striped">
  <tr>
    <th scope="col">Recorded At</th>
    <th scope="col">Severity</th>
    <th scope="col">Message</th>
  </tr>
  <% @logs.each do |log| %>
    <%= log_table_row log do %>
      <td><%= log.created_at %></td>
      <td><code><%= log.severity.upcase %></code></td>
      <td><%= log.message %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<a href="/" class="btn btn-primary">Go Back Home</a>
<a href="/jobs" class="btn btn-primary">View All Jobs</a>
<% unless @display_level.nil? %>
  <a href="?" class="btn btn-primary">View All Logs</a>
<% end %>
