<nav class="navbar navbar-light navbar-expand-sm bg-light">
  <%= navbar_anchor 'All Tracks', ?/, class: 'navbar-brand' %>
  <%= navbar_text 'Tracks by:' %>
  <ul class="navbar-nav">
    <% (1..track_by_actions.size).each do |size| %>
      <% track_by_actions.combination(size).each do |attrs| %>
        <%= navbar_link_item "#{attrs.join ', '}", "/tracks/by_#{attrs.join '_and_'}" %>
      <% end %>
    <% end %>
    <%= navbar_link_item 'jobs', '/jobs' %>
    <% if current_user %>
      <%= navbar_link_item 'Sign Out', destroy_user_session_path, http_method: 'DELETE' %>
    <% else %>
      <%= navbar_link_item 'Sign In', new_user_session_path %>
    <% end %>
  </ul>
</nav>