<!DOCTYPE html>
<html>
<head>
  <title>Playing around with last.fm</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container">
  <% if Status.importing? %>
    <h6>Note: current importing so data might not be accurate</h6>
  <% end %>
  <%= yield %>
  <footer>
    Copyright &copy; Eli Sadoff 2019 – <span id="year"></span><br>
    Made with love somewhere on earth.
  </footer>
  <script type="text/javascript" charset="utf-8">
      var year = document.getElementById('year');
      var date = new Date;
      year.innerText = date.getFullYear();
  </script>
</div>
</body>
</html>
